<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
	<add name="DefaultConnection"
		 connectionString="Data Source=PONER_ACA_SERVIDOR;Database=ArquitecturaWebHvacWebForms;Trusted_Connection=True;MultipleActiveResultSets=true"
		 providerName="System.Data.SqlClient" />
</connectionStrings>