<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
	<add name="DefaultConnection"
		 connectionString="Data Source=TU_SERVIDOR;Initial Catalog=TU_BASE;User ID=TU_USUARIO;Password=TU_PASSWORD"
		 providerName="System.Data.SqlClient" />
</connectionStrings>